<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <app-sidebar>h</app-sidebar>
      </div>
      <div class="col-md-6" > 
        <div class="a4" >
         Library Search &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        </div>
        <input class ="SearchBar"type="text" placeholder="Search.."><button type="button" class="btn btn-light button">Search</button><br><br>
        <div class="a2">
         Showing 200 results for "fundamentals of typography"
        </div>
        <router-outlet></router-outlet>
        <br>
        <ul style="list-style: none">
          <li class = "a3">Fundamentals of typography in user interface design (UI)&nbsp;&nbsp;<img src="../assets/Vector 5.png" alt="" style="width: 10px"  />
            <div class = "a5">Tags:&nbsp;&nbsp;&nbsp;&nbsp;UI&nbsp;&nbsp;UX&nbsp;&nbsp;Prototype&nbsp;&nbsp;Wireframe&nbsp;&nbsp;Fonts&nbsp;&nbsp;<br></div>
            <div class="text" >The good news is, there are eight basic, universal typographical design elements: typeface, hierarchy, contrast, consistency, alignment, white, black, purple ...</div>
            
          </li>
      
          <br>
          <li class = "a3">Fundamentals of typography in user interface design (UI)&nbsp;&nbsp;<img src="../assets/Vector 5.png" alt="" style="width: 10px"  />
            <div class = "a5">Tags:&nbsp;&nbsp;&nbsp;&nbsp;UI&nbsp;&nbsp;UX&nbsp;&nbsp;Prototype&nbsp;&nbsp;Wireframe&nbsp;&nbsp;Fonts&nbsp;&nbsp;<br></div>
            <div class="text" >The good news is, there are eight basic, universal typographical design elements: typeface, hierarchy, contrast, consistency, alignment, white, black, purple ...</div>
            
          </li>
          <br>
          <li class = "a3">Fundamentals of typography in user interface design (UI)&nbsp;&nbsp;<img src="../assets/Vector 5.png" alt="" style="width: 10px"  />
            <div class = "a5">Tags:&nbsp;&nbsp;&nbsp;&nbsp;UI&nbsp;&nbsp;UX&nbsp;&nbsp;Prototype&nbsp;&nbsp;Wireframe&nbsp;&nbsp;Fonts&nbsp;&nbsp;<br></div>
            <div class="text" >The good news is, there are eight basic, universal typographical design elements: typeface, hierarchy, contrast, consistency, alignment, white, black, purple ...</div>
            
          </li>
          <br>
          <li class = "a3">Fundamentals of typography in user interface design (UI)&nbsp;&nbsp;<img src="../assets/Vector 5.png" alt="" style="width: 10px"  />
            <div class = "a5">Tags:&nbsp;&nbsp;&nbsp;&nbsp;UI&nbsp;&nbsp;UX&nbsp;&nbsp;Prototype&nbsp;&nbsp;Wireframe&nbsp;&nbsp;Fonts&nbsp;&nbsp;<br></div>
            <div class="text" >The good news is, there are eight basic, universal typographical design elements: typeface, hierarchy, contrast, consistency, alignment, white, black, purple ...</div>
            
          </li>
          <!-- <li (click)="pageRoute('home')">Home</li>
          <li (click)="pageRoute('home')">Settings</li>
          <li (click)="pageRoute('home')">Saved</li> -->
      
         
         
        </ul>
        
      </div>
    </div>
  </div>
</div>

