.login-page-wrapper {
  background: url("../../assets/login_bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  display: inline-block;
  justify-content: center;
}

.login-form {
  color: white;
  font-weight: bold;
  align-self: center;
  text-align: center;
}
