.login-page-wrapper {
  background: url("src/assets/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  display: inline-block;
  justify-content: center;
}

.login-form {
  color: black;
  font-weight: bold;
  align-self: center;
  text-align: center;
}
.mb-5 {
  font-family: Avenir Next;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
}
.mb-4 {
  font-family: Avenir Next;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* identical to box height */

  color: black;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-btn {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background: black;
  margin-top: 30px;
  border: none;
  padding: 10px 25px;
  /* padding-top: 30px; */
}

.forgot-btn {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  width: 150px;
  color: black;
  background-color: white;
  border-radius: 2px;
  border: solid #a18fff;
  margin-left: -5px;
}
input::placeholder {
  font-family: Avenir Next;
  font-size: 12px;
  font-style: normal;
}

.signupTag {
  padding: 15px 0px 5px 0px;
  margin: 0px;
}

.bi {
  padding-right: 10px !important;
}
