.page-container {
  color: white;
  background: url("src/assets/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 30px;
  width: 100%;
  min-height: 100%;
}
.logo {
  width: 25%;
}
.page-wrapper {
  padding: 14px;
}

.page-header-right .nav-link {
  font-family: Avenir Next;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

.nav-item a:hover {
  font-size: 16px;
  transition: all 1s ease;
}

.page-header-right .nav {
  padding: 10px;
}

.login-btn {
  background-color: transparent;
  color: #a18fff;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #a18fff;
  background: linear-gradient(to right, transparent 50%, #a18fff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  margin-left: 10px;
  transition: all 1s ease;
}

.login-btn:hover {
  /* background-color: #A18FFF; */
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  border: 1px solid #a18fff;
  background-position: right bottom;
}

.prod-name {
  font-family: Avenir Next;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}

.picto-right {
  width: 100%;
}

.landingpage-body {
  padding-top: 50px;
}

.landingpage-body-left {
  padding-top: 5%;
}

.landingpage-body-left .prod-name {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #ffffff;
}

.prod-desc {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #a18fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prod-tag {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #c8c8c8;
  /* padding-top: 30px; */
}

.landingpage-body-left button {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background: #a18fff;
  margin-top: 30px;
  border: none;
  padding: 10px 25px;
}

.footer {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8e8e8e;
  position: relative;
  height: 100px;
  bottom: 0;
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* padding-top: 10%; */
}
a:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkgrey;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}
