<div class=" page-container">
    <div class="container page-wrapper">
        <div class="row header">
   <div class="col-sm-2">
        <img class="logo" src="../../assets/logo.png" alt="">
      </div>
      <div class="col-sm-10 page-header-right">
        <ul class="nav justify-content-end col-sm-12">
            <li class="nav-item ">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">How it Works</a>
            </li>
            <li class="nav-item  text-center ">
                <button class="nav-link login-btn text-center" aria-current="page" routerLink="/login">Login</button>
              </li>
              <li class="nav-item">
                <button class="nav-link login-btn text-center" aria-current="page" routerLink="/signup">Sign Up</button>
              </li>
          </ul>
      </div>
        </div>
        <div class="row landingpage-body">
            <div class="col-sm-6 landingpage-body-left">
                <p class="prod-name"> PEKIN SEARCH</p>
                <p class="prod-desc">
                    The Ultimate Product Research and Analysis Tool
                </p>
                <p class="prod-tag">
                    Powered by Machine Learning and AI
                </p>
                <p>
                   <a href="/dashboard">
                   <button > Get Started</button>
                   </a> 
                  
                </p>
            </div>
            <div class="col-sm-6">
                <img  class="picto-right" src="../../assets/picto.png" alt="">
            </div>
        </div>
        <div class="row footer">
            <div class="">
                <p>all right reserved @</p>
            </div>
 
        </div>
    </div>
</div>
