.sidebar-wrapper {
  height: 100vh;
  /* border-right: 1px solid #a18fff; */
}

.a1 {
  width: 84px;
  height: 57px;
  left: 112px;
  top: 24px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;

  color: #a18fff;
}
a:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: darkgrey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

.title-list {
  list-style: none;
}

.sidebar-title-wrapper {
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid #a18fff;
  margin-top: 16px;
  padding-left: 50px;
  font-size: 19px;
}

.profile-img {
  width: 90px;
  background: #c0e1ff;
  border-radius: 50%;
  padding: 0px;
}

.title-list {
  padding: 0px 0px 0px 15px;
}

ul {
  padding: 0% 0% 0% 30%;
}

.user-welcome {
  font-size: 15px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #959595;
}

.user-name {
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
  font-style: normal;
  font-weight: 600;
}
.sidebar-ele {
  /* vertical-align: text-top; */
  padding-right: 10px;
}

.sidebar-list-icon {
  width: 20px;
  margin-right: 8px;
}
.is-active {
  color: #a18fff;
}

.bi {
  padding-right: 10px !important;
}

.side-menu-fixed {
  list-style: none;
  position: fixed;
  left: 3% !important;
  padding: 0px;
}
