<div class="login-page-wrapper center">
  <div class="col-md-12">
    <div class="login-form">
      <!--             
            use reactive forms from angular -->

      <div>
        <form
          class="signUpform"
          [formGroup]="signUpForm"
          (ngSubmit)="onSubmit()"
        >
          <p>sign up form</p>
          <div class="mb-3">
            <label for="User Name" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="username"
            />
            <span class="text-danger"> User Name is required </span>
            <span class="text-danger"> User Name is not available </span>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <span class="text-danger"> Email is required </span>
            <span class="text-danger"> Enter a valid email address </span>
          </div>

          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <span class="text-danger"> Password is required </span>
            <span class="text-danger">
              Password should have minimum 8 characters, at least 1 uppercase
              letter, 1 lowercase letter and 1 number
            </span>
          </div>
          <div class="mb-3">
            <label for="Confirm Password" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              formControlName="confirmpassword"
            />
            <span class="text-danger"> Confirm Password is required </span>
            <span class="text-danger"> Passwords doesnot match </span>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Sign Up</button>
          </div>
          <div align="right"></div>
        </form>
      </div>
    </div>
  </div>
</div>
